body {
  font-size: 0.875rem;
}
.table {
  table-layout: fixed;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.sidebar {
  padding: 0;
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}
.app-settings-nav-tabs {
  margin: 0.8em 0;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
