<ul class="nav">
{% if tab == 'applications'%}
<li class="active"><a href="/applications">Admin</a></li>
{% else %}
<li><a href="/applications">Admin</a></li>
{% end %}
{% if tab == 'stats' %}
<li class="active"><a href="/stats/">Stats</a></li>
{% else %}
<li><a href="/stats/">Stats</a></li>
{% end %}
{% if tab == 'info' %}
<li class="active"><a href="/info/">Server Info</a></li>
{% else %}
<li><a href="/info/">Server Info</a></li>
{% end %}
<li><a target="_blank" href="https://github.com/dongsheng/airnotifier">About this product</a></li>
</ul>
