<ul class="nav nav-list">
    <li class="nav-header">{{ _('Admin') }}</li>
    {% if active == 'managers'%}<li class="active">{% else %}<li>{% end %}
    <a href="/admin/managers"><i class="icon-user"></i> {{ _('Users') }}</a></li>
    {% if active == 'createapp'%}<li class="active">{% else %}<li>{% end %}
    <a href="/create/app"><i class="icon-plus"></i> {{ ('Create an app') }}</a></li>
</ul>

<ul class="nav nav-list">
    <li class="nav-header">{{ _('Applications') }}</li>
    {% for r in apps %}
    {% if r['shortname'] == app.get('shortname', '') %}<li class="active">{% else %}<li>{% end %}
        <a href="/applications/{{r['shortname']}}/settings">
            <i class="icon-star"></i> {{ r.get('fullname', r.get('shortname')) }}
        </a>
    </li>
    {% end %}
</ul>
