<ul class="nav nav-tabs">
    {% if active == 'settings'%}<li class="active">{% else %}<li>{% end %}
    <a href="/applications/{{app['shortname']}}/settings"><i class="icon-cog"></i> {{ _('Settings') }}</a></li>

    {% if active == 'broadcast'%}<li class="active">{% else %}<li>{% end %}
    <a href="/applications/{{app['shortname']}}/broadcast"><i class="icon-volume-up"></i> {{ _('Broadcast') }}</a></li>

    {% if active == 'keys'%}<li class="active">{% else %}<li>{% end %}
    <a href="/applications/{{app['shortname']}}/keys"><i class="icon-lock"></i> {{ _('Access keys') }}</a></li>

    {% if active == 'tokens'%}<li class="active">{% else %}<li>{% end %}
    <a href="/applications/{{app['shortname']}}/tokens"><i class="icon-info-sign"></i> {{ _('Tokens') }}</a></li>

    {% if active == 'logs'%}<li class="active">{% else %}<li>{% end %}
    <a href="/applications/{{app['shortname']}}/logs"><i class="icon-exclamation-sign"></i> {{ _('Logs') }}</a></li>

    {% if active == 'delete'%}<li class="active">{% else %}<li>{% end %}
    <a href="/applications/{{app['shortname']}}/delete"><i class="icon-trash"></i> {{ _('Delete') }}</a></li>
</ul>
