<ul class="nav nav-tabs app-settings-nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link {% if active == 'settings'%}active{% end %}"
      href="/applications/{{app['shortname']}}/settings"
      ><i class="icon-cog"></i> {{ _('Settings') }}</a
    >
  </li>

  <li class="nav-item">
    <a
      class="nav-link {% if active == 'broadcast'%}active{% end %}"
      href="/applications/{{app['shortname']}}/broadcast"
      ><i class="icon-volume-up"></i> {{ _('Broadcast') }}</a
    >
  </li>

  <li class="nav-item">
    <a
      class="nav-link {% if active == 'keys'%}active{% end %}"
      href="/applications/{{app['shortname']}}/keys"
      ><i class="icon-lock"></i> {{ _('Access keys') }}</a
    >
  </li>

  <li class="nav-item">
    <a
      class="nav-link {% if active == 'tokens'%}active{% end %}"
      href="/applications/{{app['shortname']}}/tokens"
      ><i class="icon-info-sign"></i> {{ _('Tokens') }}</a
    >
  </li>

  <li class="nav-item">
    <a
      class="nav-link {% if active == 'logs'%}active{% end %}"
      href="/applications/{{app['shortname']}}/logs"
      ><i class="icon-exclamation-sign"></i> {{ _('Logs') }}</a
    >
  </li>

  <li class="nav-item">
    <a
      class="nav-link {% if active == 'delete'%}active{% end %}"
      href="/applications/{{app['shortname']}}/delete"
      ><i class="icon-trash"></i> {{ _('Delete') }}</a
    >
  </li>
</ul>
