{% extends "base.html" %}

{% block sidebaritems %}
{{ modules.AppSideBar(app, 'delete') }}
{% end %}

{% block body %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <input type="hidden" name="appid" value="{{app['fullname']}}" />
    <fieldset>
        <legend>{{app['fullname']}}</legend>
        <p>Are you sure you want to delete this app?</p>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button class="btn">Cancel</button>
        </div>
    </fieldset>
</form>

{% end %}
