{% extends "base.html" %}

{% block navbar %}
{{ modules.NavBar('applications') }}
{% end %}

{% block tabbaritems %}
{{ modules.TabBar(app, 'tokens') }}
{% end %}

{% block sidebaritems %}
{{ modules.AppSideBar(app, 'tokens') }}
{% end %}

{% block body %}
  <div class="row-fluid">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ _('Device') }}</th>
                <th>{{ _('Token/Registration ID') }}</th>
                <th>{{ _('Delete') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for token in tokens %}
            <tr>
                <td>{{ token['device'] }}</td>
                {% if token['device'] == 'android' %}
                <td><code>{{ token['token'][:90] }}<br />{{ token['token'][90:] }}</code></td>
                {% elif  token['device'] == 'ios' %}
                <td><code>{{ token['token'][:64] }}</code></td>
                {% else %}
                <td><code>{{ token['token'][:128] }}<br />{{ token['token'][128:] }}</code></td>
                {% end %}
                <td>
                    <a class="btn btn-danger" href="/applications/{{app['shortname']}}/tokens?delete={{token['_id']}}"><i class="icon-trash icon-white"></i> {{ _('Delete') }}</a>
                </td>
            </tr>
        {% end %}
        </tbody>
    </table>
    <div>
        {% if not (page == 0) %}
        <a class="btn" href="/applications/{{app['shortname']}}/tokens?page={{page - 1}}">{{ _('Previous') }}</a>
        {% end %}
        <a class="btn" href="/applications/{{app['shortname']}}/tokens?page={{page + 1}}">{{ _('Next') }}</a>
    </div>
  </div><!--/row-->
{% end %}
