{% extends "base.html" %}

{% block sidebaritems %}
<ul class="nav nav-list">
    <li class="nav-header">{{ _('Admin') }}</li>
    <li><a href="/admin/managers"><i class="icon-user"></i> {{ _('Managers') }}</a></li>
    <li class="active"><a href="/applications/new"><i class="icon-plus"></i> {{ ('Create application') }}</a></li>
</ul>
<ul class="nav nav-list">
    <li class="nav-header">{{ _('Applications') }}</li>
    {% for app in apps %}
    <li><a href="/applications/{{app['shortname']}}"><i class="icon-star"></i>{% if app.has_key('fullname') %}{{app['fullname']}}{% else %}{{app['shortname']}}{% end %}</a></li>
    {% end %}
</ul>
{% end %}

{% block navbar %}
{{ modules.NavBar('applications') }}
{% end %}

{% block body %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>{{ _('Create new app') }}</legend>
        <div class="control-group">
            <label class="control-label" for="shortnameinput">App short name</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="shortnameinput" name="appshortname" value="">
                <p class="help-block">Unique identifier for your app.</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="fullnameinput">App full name</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="fullnameinput" name="appfullname" value="">
                <p class="help-block">Your app's fullname.</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="appdescription">Description</label>
            <div class="controls">
                <textarea class="input-xlarge" id="appdescription" rows="3" name="appdescription"></textarea>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
        </div>
    </fieldset>
</form>

{% end %}
