{% extends "base.html" %}

{% block navbar %}
{{ modules.NavBar('applications') }}
{% end %}

{% block tabbaritems %}
{{ modules.TabBar(app, 'objects') }}
{% end %}

{% block sidebaritems %}
{{ modules.AppSideBar(app, 'objects') }}
{% end %}

{% block body %}

<div class="row-fluid">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ _('Collection') }}</th>
                <th>{{ _('Created') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
            <tr>
                <td><strong>{{obj['collection']}}</strong></td>
                {% if obj.has_key('created') %}
                <td>{{ obj['created'] }}</td>
                {% else %}
                <td></td>
                {% end %}
            </tr>
            {% end %}
        </tbody>
    </table>
</div><!--/row-->
{% end %}
