{% extends "base.html" %}

{% block navbar %}
{{ modules.NavBar('applications') }}
{% end %}

{% block tabbaritems %}
{{ modules.TabBar(app, 'broadcast') }}
{% end %}

{% block sidebaritems %}
{{ modules.AppSideBar(app, 'broadcast') }}
{% end %}

{% block body %}
{% if sent %}
<div class="alert alert-success">
    Notification sent!
</div>
{% end %}

<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <input type="hidden" name="appname" value="{{app['shortname']}}" />
    <fieldset>
        <legend>{% if app.has_key('fullname') %}{{app['fullname']}}{% else %}{{app['shortname']}}{% end %}</legend>

        <div class="control-group">
            <label class="control-label" for="notification">{{ _('Message') }}</label>
            <div class="controls">
                <textarea class="input-xxlarge" rows="6" id="notification" name="notification"></textarea>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ _('Send') }}</button>
        </div>
    </fieldset>
</form>

{% end %}
