{% extends "base.html" %}

{% block navbar %}
{{ modules.NavBar('applications') }}
{% end %}

{% block sidebaritems %}
{{ modules.AppSideBar(app, 'keys') }}
{% end %}

{% block body %}
{% if newkey %}
<div class="alert alert-success">
    New key created: {{ newkey['key'] }}
</div>
{% end %}

<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <input type="hidden" name="appname" value="{{app['shortname']}}" />
    <fieldset>
        <legend>{{ _('Create access key') }}</legend>

        <div class="control-group">
            <label class="control-label" for="appdescription">{{ _('Key') }}</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="shortnameinput" name="accesskey">
                <p class="help-block">Indicate a key if you like</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="appdescription">{{ _('Description') }}</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="shortnameinput" name="keydesc">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="appdescription">{{ _('Contact Email') }}</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="shortnameinput" name="keycontact">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Permissions') }}</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" name="permissions[]" value="1">
                    Create token
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="permissions[]" value="2">
                    Delete token
                </label>

                <label class="checkbox">
                    <input type="checkbox" name="permissions[]" value="4">
                    Send notification
                </label>

                <label class="checkbox">
                    <input type="checkbox" name="permissions[]" value="8">
                    Send broadcast
                </label>

                <label class="checkbox">
                    <input type="checkbox" name="permissions[]" value="16">
                    Access objects
                </label>

                <p class="help-block"><strong>Note:</strong> You can indicate a key to update</p>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ _('Generate') }}</button>
        </div>
    </fieldset>
</form>

<div class="row-fluid">
    <div class="page-header">
        <h1>{{app['fullname']}}</h1>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ _('Key') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('Contact') }}</th>
                <th>{{ _('Permission') }}</th>
                <th>{{ _('Action') }}</th>
            </tr>
        </thead>
        <tbody>
            {% from datetime import datetime %}
            {% for key in keys %}
            <tr>
                <td><code>{{key['key']}}</code></td>
                <td>
                    {% if key.has_key('description') %}
                    <span class="label label-success">{{ key['description'] }}</span>
                    {% end %}
                </td>
                {% if key.has_key('created') %}
                <td>{{ datetime.fromtimestamp(key['created']).strftime("%I:%M%p %d, %B") }}</td>
                {% else %}
                <td></td>
                {% end %}
                {% if key.has_key('permission') %}
                <td>
                    <ul class="unstyled">
                        <li>
                            <span>Create token</span> 
                            {% if key['permission'] & 1 == 1 %}
                                <i class="icon-ok"></i>
                            {% else %}
                                <i class="icon-remove"></i>
                            {% end %}
                        </li>
                        <li>
                            <span>Delete token</span> 
                            {% if key['permission'] & 2 == 2 %}
                                <i class="icon-ok"></i>
                            {% else %}
                                <i class="icon-remove"></i>
                            {% end %}
                        </li>
                        <li>
                            <span>Send notification</span> 
                            {% if key['permission'] & 4 == 4 %}
                                <i class="icon-ok"></i>
                            {% else %}
                                <i class="icon-remove"></i>
                            {% end %}
                        </li>
                        <li>
                            <span>Broadcast</span> 
                            {% if key['permission'] & 8 == 8 %}
                                <i class="icon-ok"></i>
                            {% else %}
                                <i class="icon-remove"></i>
                            {% end %}
                        </li>
                        <li>
                            <span>Access objects</span> 
                            {% if key['permission'] & 16 == 16 %}
                                <i class="icon-ok"></i>
                            {% else %}
                                <i class="icon-remove"></i>
                            {% end %}
                        </li>
                </td>
                {% else %}
                <td></td>
                {% end %}
                <td>
                    <a class="btn btn-danger" href="/applications/{{app['shortname']}}/keys?delete={{key['key']}}"><i class="icon-trash icon-white"></i> {{ _('Delete') }}</a>
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div><!--/row-->
{% end %}
