{% extends "base.html" %}

{% block navbar %}
{{ modules.NavBar('applications') }}
{% end %}

{% block sidebaritems %}
{{ modules.AppSideBar(app, 'tokens') }}
{% end %}

{% block body %}
  <div class="row-fluid">
    <div class="page-header">
        <h1>{{app['fullname']}}</h1>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ _('Token') }}</th>
                <th>{{ _('Delete') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for token in tokens %}
            <tr>
                <td>{{ token['token'] }}</td>
                <td>
                    <a class="btn btn-danger" href="/applications/{{app['shortname']}}/tokens?delete={{token['token']}}"><i class="icon-trash icon-white"></i> {{ _('Delete') }}</a>
                </td>
            </tr>
        {% end %}
        </tbody>
    </table>
  </div><!--/row-->
{% end %}
