{% extends "base.html" %}

{% block navbar %}
{{ modules.NavBar('applications') }}
{% end %}

{% block tabbaritems %}
{{ modules.TabBar(app, 'logs') }}
{% end %}

{% block sidebaritems %}
{{ modules.AppSideBar(app, 'logs') }}
{% end %}

{% block body %}

<div class="row-fluid">
    <div class="page-header">
        <h1>{% if app.has_key('fullname') %}{{app['fullname']}}{% else %}{{app['shortname']}}{% end %}</h1>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ _('Action') }}</th>
                <th>{{ _('Info') }}</th>
                <th>{{ _('Time') }}</th>
            </tr>
        </thead>
        <tbody>
            {% from datetime import datetime %}
            {% for log in logs %}
            <tr>
                <td><span class="label label-{{log['level']}}">{{log['action']}}</span></td>
                <td> {{ log['info'] }} </td>
                {% if log.has_key('created') %}
                <td>{{ datetime.fromtimestamp(log['created']).strftime("%I:%M%p %d, %B") }}</td>
                {% else %}
                <td></td>
                {% end %}
            </tr>
            {% end %}
        </tbody>
    </table>
    <div>
        {% if not (page == 0) %}
        <a class="btn" href="/applications/{{app['shortname']}}/logs?page={{page - 1}}">{{ _('Previous') }}</a>
        {% end %}
        <a class="btn" href="/applications/{{app['shortname']}}/logs?page={{page + 1}}">{{ _('Next') }}</a>
    </div>
</div><!--/row-->
{% end %}
