{% extends "base.html" %} {% block navbar %} {{ modules.NavBar('applications')
}} {% end %} {% block tabbaritems %} {{ modules.TabBar(app, 'settings') }} {%
end %} {% block sidebaritems %} {{ modules.AppSideBar(app, 'settings') }} {% end
%} {% block body %} {% if 'error' in globals() %}
<div class="alert">
  <strong>{{ error }}</strong>
</div>
{% end %}

<form id="form-app-settings" method="post">
  <input type="hidden" name="appname" value="{{app['shortname']}}" />
  <fieldset>
    <legend>{{ _('General') }}</legend>

    <div class="form-row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="shortname"
          readonly="readonly"
          value="{{app['shortname']}}"
        />
        <small class="form-text text-muted">shortname</small>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <label class="control-label" for="keydesc"
          >{{ _('Blocked IP list') }}</label
        >
        <textarea
          rows="3"
          class="form-control"
          id="ipaddr"
          name="blockediplist"
        >
{{ app.get('blockediplist', '') }}</textarea
        >
      </div>

      <div class="col">
        <label class="control-label" for="appdescription">Description</label>
        <textarea
          class="form-control"
          id="appdescription"
          rows="3"
          name="appdescription"
        >
{{app.get('description', '')}}</textarea
        >
      </div>
    </div>
    {% if app['enableapns'] != 1 %}
    <div class="form-group">
      <label class="control-label" for="connections">Connections</label>
      <input
        type="text"
        class="form-control"
        id="connections"
        pattern="[0-9]+"
        name="connections"
        value="{{app['connections']}}"
      />
      <p class="form-text text-muted">This will restart APNs</p>
    </div>
    {% end %}

    <button type="submit" class="btn btn-primary">{{ _('Apply') }}</button>
  </fieldset>
</form>

<hr />

<form class="form-horizontal" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>{{ _('Firebase Cloud Messaging settings') }}</legend>

    <div class="form-row">
      <div class="col">
        <label class="control-label" for="form-element-fcm">
          {{ _('Project ID') }}</label
        >
        <input
          type="text"
          class="form-control"
          id="form-element-fcm"
          name="fcm-project-id"
          value="{{app.get('fcm-project-id', '')}}"
        />
      </div>

      <div class="col">
        <label class="control-label" for="form-element-jsonkey"
          >{{ _('JSON key') }}</label
        >
        <textarea
          rows="3"
          class="form-control"
          id="form-element-jsonkey"
          name="fcm-jsonkey"
        >
{{ app.get('fcm-jsonkey', '') }}</textarea
        >
        <p class="form-text text-muted">
          <a
            href="https://console.firebase.google.com/project/_/settings/serviceaccounts/adminsdk"
            >Get json key</a
          >
        </p>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
  </fieldset>
</form>

<hr />

<form class="form-horizontal" id="form-ios-settings" method="post">
  <fieldset>
    <legend>{{ _('APNs (TCP connection, legacy)') }}</legend>
    <div class="form-group">
      <label> {{ _('APNs service') }}</label>
      <input type="hidden" name="appname" value="{{app['shortname']}}" />
      {% if app.get('enableapns', False) %}
      <input type="hidden" name="stopapns" value="true" />
      <button type="submit" class="btn btn-danger">{{ _('Stop') }}</button>
      {% else %}
      <input type="hidden" name="launchapns" value="true" />
      <button type="submit" class="btn btn-primary">{{ _('Launch') }}</button>
      {% end %}
      <p class="form-text text-muted">
        You have to stop the service to see more options
      </p>
    </div>
    {% if app['enableapns'] != 1 %}
    <form class="form-horizontal" method="post">
      <div class="form-group">
        <label class="control-label"> {{ _('Set mode') }}</label>
        <input type="hidden" name="appname" value="{{app['shortname']}}" />
        {% if not 'environment' in app or ('environment' in app and
        app['environment'] == 'sandbox') %}
        <input type="hidden" name="turnonproduction" value="true" />
        <button type="submit" class="btn btn-info">
          {{ _('Enter production mode') }}
        </button>
        {% else %}
        <input type="hidden" name="turnonsandbox" value="true" />
        <button type="submit" class="btn btn-info">
          {{ _('Enter sandbox mode') }}
        </button>
        {% end %}
      </div>
    </form>
    {% end %}
    <form class="form-horizontal" method="post">
      <input type="hidden" name="appname" value="{{app['shortname']}}" />
      <label class="control-label"> {{ _('Feedback service') }}</label>
      <input type="hidden" name="performfeedbacktask" value="true" />
      <button type="submit" class="btn btn-primary">
        {{ _('Clean up') }}
      </button>
      <p class="form-text text-muted">Clean up unused device tokens</p>
    </form>
    {% if app['enableapns'] != 1 %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
      <input type="hidden" name="appname" value="{{app['shortname']}}" />

      <div class="form-group">
        <label class="control-label" for="certfileinput"
          >{{ _('Certification') }}</label
        >
        {% if app.get('certfile', False) %}
        <span class="alert alert-success">
          {{ _('Already uploaded') }}
        </span>
        {% else %}
        <span class="alert alert-danger">
          {{ _('Certificate not set') }}
        </span>
        {% end %}
        <input
          class="form-control-file"
          id="certfileinput"
          type="file"
          name="appcertfile"
        />
      </div>

      <div class="form-group">
        <label class="control-label" for="keyfileinput">{{ _('Key') }}</label>
        {% if app.get('keyfile', False) %}
        <span class="alert alert-success">
          {{ _('Already uploaded') }}
        </span>
        {% else %}
        <span class="alert alert-danger">
          {{ _('Key not set') }}
        </span>
        {% end %}
        <input
          class="form-control-file"
          id="keyfileinput"
          type="file"
          name="appkeyfile"
        />
      </div>
      <button type="submit" class="btn btn-primary">{{ _('Upload') }}</button>
    </form>
    {% end %}
  </fieldset>
</form>

<hr />

<form class="form-horizontal" id="form-wns-settings" method="post">
  <fieldset>
    <legend>{{ _('WNS settings') }}</legend>

    <div class="form-row">
      <div class="col">
        <label class="control-label" for="form-element-wnsclientid">
          {{ _('Client ID') }}</label
        >
        <input
          type="text"
          class="form-control"
          id="form-element-wnsclientid"
          name="wnsclientid"
          value="{{app.get('wnsclientid', '')}}"
        />
        <small class="form-text text-muted">Client ID</small>
      </div>

      <div class="col">
        <label class="control-label" for="form-element-wnsclientsecret"
          >{{ _('Client secret') }}</label
        >
        <input
          type="text"
          class="form-control"
          id="form-element-wnsclientsecret"
          name="wnsclientsecret"
          value="{{app.get('wnsclientsecret', '')}}"
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
  </fieldset>
</form>

{% end %}
