{% extends "base.html" %}

{% block navbar %}
{{ modules.NavBar('applications') }}
{% end %}

{% block tabbaritems %}
{{ modules.TabBar(app, 'delete') }}
{% end %}

{% block sidebaritems %}
{{ modules.AppSideBar(app, 'delete') }}
{% end %}

{% block body %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Delete this app</legend>
        <div class="control-group">
        <p>Are you sure you want to delete this app?</p>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </fieldset>
</form>

{% end %}
