{% extends "base.html" %}

{% block navbar %}
{{ modules.NavBar('applications') }}
{% end %}

{% block sidebaritems %}
<ul class="nav nav-list">
    <li class="nav-header">{{ _('Admin') }}</li>
    <li><a href="/admin/managers"><i class="icon-user"></i> {{ _('Managers') }}</a></li>
    <li><a href="/applications/new"><i class="icon-plus"></i> {{ ('Create application') }}</a></li>
</ul>
<ul class="nav nav-list">
    <li class="nav-header">{{ _('Applications') }}</li>
    {% for app in apps %}
    <li><a href="/applications/{{app['shortname']}}"><i class="icon-star"></i>{% if app.has_key('fullname') %}{{app['fullname']}}{% else %}{{app['shortname']}}{% end %}</a></li>
    {% end %}
</ul>
{% end %}

{% block body %}
  <div class="hero-unit">
    <h1>AirNotifier</h1>
    <p>AirNotifier is a REST server for apple push notification service, users and resources management, it's a strong and generic backend for iOS apps.</p>
    <p><a class="btn btn-primary btn-large" href="http://github.com/dongsheng/airnotifier/">{{ _('Learn more') }} &raquo;</a></p>
  </div>
{% end %}
