<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{{ escape(handler.settings["app_title"]) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("css/custom.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("css/dashboard.css") }}" type="text/css"/>
    <link rel="shortcut icon" href="{{ static_url("favicon.ico") }}" type="image/x-icon">
    <script src="{{ static_url("js/jquery-1.11.0.min.js") }}"></script>
    <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="author" content="Dongsheng Cai">
    {% block head %}{% end %}
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <span class="brand">AirNotifier</span>
          <div class="nav-collapse">
            {% block navbar %}{% end %}
            <p class="navbar-text pull-right">
            {% if current_user %}
                <a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a>
            {% else %}
                {{ _('<a href="%(url)s">Sign in</a>') % {"url": "/auth/login?next=" + url_escape(request.uri)} }}
            {% end %}

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div><!-- end of header -->

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
          {% block sidebaritems %}{% end %}
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
        {% block tabbaritems %}{% end %}
        {% block body %}{% end %}
        </div>
      </div> <!--row-fluid-->

      <hr>
      {% block bottom %}{% end %}
      <footer>
        <p>Copyright (c) 2012-2014, Dongsheng Cai All Rights Reserved</p>
        <p>
            <a target="_blank" href="http://airnotifier.github.io">AirNotifier</a>
            <span> | </span>
            <a target="_blank" href="https://github.com/airnotifier/airnotifier">Development</a>
            <span> | </span>
            <a target="_blank" href="https://github.com/airnotifier/airnotifier/issues">Get support</a>
        </p>
      </footer>
    </div><!--/.fluid-container-->
    </body>
</html>
