<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{{ escape(handler.settings["app_title"]) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ static_url("bootstrap.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("bootstrap-responsive.css") }}" type="text/css"/>
    <link rel="shortcut icon" href="{{ static_url("favicon.ico") }}" type="image/x-icon">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="author" content="Dongsheng Cai">
    {% block head %}{% end %}
    </head>
    <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">AirNotifier</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/applications/">Home</a></li>
              <li><a href="/about">About</a></li>
            </ul>
            <p class="navbar-text pull-right">
            
            {% if current_user %}
            <a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a>
            {% else %}
            {{ _('<a href="%(url)s">Sign in</a> to compose/edit') % {"url": "/auth/login?next=" + url_escape(request.uri)} }}
            {% end %}

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div><!-- end of header -->

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Admin</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="/applications/new">{{ _("New app") }}</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Stats</li>
              <li><a href="#">Notifications</a></li>
              <li class="nav-header">Environments</li>
              <li><a href="#">Tornado Info</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
        {% block body %}{% end %}
        </div>
      </div> <!--row-fluid-->

      <hr>
      {% block bottom %}{% end %}
      <footer>
        <p>&copy; Dongsheng Cai 2012</p>
      </footer>
    </div><!--/.fluid-container-->
    </body>
</html>
