{% extends "base.html" %} {% block navbar %} {{ modules.NavBar('info') }} {% end
%} {% block body %}
<div class="row-fluid">
  <a name="airnotifier"></a>
  <h3>AirNotifier</h3>
  <dl class="dl-horizontal">
    <dt>Version</dt>
    <dd>{{airnotifierinfo['version']}}</dd>
  </dl>
  <a name="tornado"></a>
  <h3>Tornado</h3>
  <dl class="dl-horizontal">
    <dt>Version</dt>
    <dd>{{tornadoversion}}</dd>
  </dl>

  <a name="mongodb"></a>
  <h3>MongoDB</h3>
  <dl class="dl-horizontal">
    {% for info in mongodb %}
    <dt>{{info}}</dt>
    <dd>{{mongodb[info]}}</dd>
    {% end %}
  </dl>

  <a name="python"></a>
  <h3>Python</h3>
  <dl class="dl-horizontal">
    {% for info in pythoninfo %}
    <dt>{{info}}</dt>
    <dd>{{pythoninfo[info]}}</dd>
    {% end %}
  </dl>
</div>
<!--/row-->
{% end %}
