{% extends "base.html" %} {% block navbar %} {{ modules.NavBar('applications')
}} {% end %} {% block body %}

<form method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>{{ _('Login') }}</legend>

    <div class="form-row">
      <div class="col">
        <input
          class="form-control"
          type="text"
          name="login"
          placeholder="Login"
        />
      </div>

      <div class="col">
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="password"
        />
      </div>
    </div>
  </fieldset>
  <hr />
  <button type="submit" class="btn btn-primary">
    {{ _('Sign in') }}
  </button>
</form>

{% end %}
