{% extends "base.html" %}

{% block navbar %}
{{ modules.NavBar('applications') }}
{% end %}

{% block sidebaritems %}
<ul class="nav nav-list">
    <li class="nav-header">{{ _('Actions') }}</li>
    <a href="###"> {{ _('Register') }}</a></li>
</ul>

{% end %}

{% block body %}

<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <input type="hidden" name="appname" value="" />
    <fieldset>
        <legend>{{ _('Login') }}</legend>

        <div class="control-group">
            <label class="control-label" for="appdescription">{{ _('Username') }}</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="username">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="appdescription">{{ _('Password') }}</label>
            <div class="controls">
                <input type="password" class="input-xlarge" name="password">
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ _('Sign in') }}</button>
        </div>
    </fieldset>
</form>

{% end %}
