{% extends "base.html" %}

{% block navbar %}
{{ modules.NavBar('applications') }}
{% end %}

{% block sidebaritems %}
<ul class="nav nav-list">
    <li class="nav-header">{{ _('Admin') }}</li>
    <li class="active"><a href="/admin/managers"><i class="icon-user"></i> {{ _('Managers') }}</a></li>
    <li><a href="/applications/new"><i class="icon-plus"></i> {{ ('Create application') }}</a></li>
</ul>
<ul class="nav nav-list">
    <li class="nav-header">{{ _('Applications') }}</li>
    {% for app in apps %}
    <li><a href="/applications/{{app['shortname']}}"><i class="icon-star"></i>{% if app.has_key('fullname') %}{{app['fullname']}}{% else %}{{app['shortname']}}{% end %}</a></li>
    {% end %}
</ul>
{% end %}

{% block body %}

{% if updated %}
<div class="alert alert-success">
    User "{{updated['username']}}" updated.
</div>
{% end %}
{% if created %}
<div class="alert alert-success">
    User "{{created['username']}} created.
</div>
{% end %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>{{ _('Create new manager') }}</legend>

        <div class="control-group">
            <label class="control-label" for="newusername">{{ _('Username') }}</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="newusername" name="newusername">
                <input type="hidden" name="action" value="createuser">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="newpassword">{{ _('Password') }}</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="newpassword" name="newpassword">
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ _('Create') }}</button>
        </div>
    </fieldset>
</form>

<div class="row-fluid">
    <div class="page-header">
        <h1>{{ _('Managers') }}</h1>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ _('Username') }}</th>
                <th>{{ _('Actions') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for m in managers %}
            <tr>
                <td><strong>{{ m['username'] }}</strong></td>
                <td>
                    {% if currentuser['username'] != m['username'] %}
                    <a class="btn btn-danger" href="/admin/managers?delete={{m['_id']}}"><i class="icon-trash icon-white"></i> {{ _('Delete') }}</a>
                    {% else %}
                    <a href="#changePassword" role="button" class="btn" data-toggle="modal"> {{ _('Change password') }}</a>
                    <strong>This is you</strong>
                    {% end %}
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div><!--/row-->

<!-- Modal -->
<div id="changePassword" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{{ _('Change password') }}</h3>
    </div>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="modal-body">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="newpassword">{{ _('New password') }}</label>
                    <div class="controls">
                        <input type="password" class="input-xlarge" name="newpassword">
                        <input type="hidden" name="action" value="changepassword">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-primary">{{ _('Change password') }}</button>
        </div>
    </form>
</div>
{% end %}
