{% extends "base.html" %}

{% block navbar %}
{{ modules.NavBar('stats') }}
{% end %}

{% block sidebaritems %}
<ul class="nav nav-list">
    <li class="nav-header">{{ _('Applications') }}</li>
    {% for app in apps %}
        <li><a href="#{{app}}">{{apps[app]['fullname']}}</a></li>
    {% end %}
</ul>
{% end %}

{% block body %}
<div class="row-fluid">
    {% for appname in apns %}
    <a name="{{appname}}"></a>
    <div class="page-header">
        <h1>{{apps[appname]['fullname']}} <small>{{apps[appname]['description']}}</small></h1>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ _('Instance') }}</th>
                <th>{{ _('Status') }}</th>
                <th>{{ _('Queue size') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in apns[appname] %}
            <tr>
                <td><strong>{{instance.instanceid}}</strong></td>
                {% if instance.connected %}
                <td>
                    <span class="label label-success">{{ _('Online') }}</span>
                </td>
                {% else %}
                <td>
                    <span class="label label-warning">{{ _('Offline') }}</span>
                </td>
                {% end %}
                <td><span class="badge badge-info">{{ len(instance.messages) }}</span></td>
            </tr>
            {% end %}
        </tbody>
    </table>
    {% end %}
</div><!--/row-->
{% end %}
